<div class="container-fluid" id="full">
    <div >
        <blockquote>
                "Choose a job you love, and you will never have to work a day in your life"
        </blockquote>
    </div>
    <div >
        <blockquote>
                “It’s not about ideas. It’s about making ideas happen.”
        </blockquote>
    </div>
    <div >
        <blockquote>
                “Always deliver more than expected.”
        </blockquote>
    </div>
    <div >
        <blockquote>
                “Nothing will work unless you do.”
        </blockquote>
    </div>
    <div >
        <blockquote>
                “Surround yourself with only people who are going to lift you higher.”
        </blockquote>
    </div>
    <button class="btn btn-primary" [routerLink]="['/Jobs']"> Search Jobs </button>
</div>

<router-outlet></router-outlet>